doctype html
//-
    region header
    Copyright Torben Sickert 16.12.2012

    License
    =======

    This library written by Torben Sickert stand under a creative commons naming
    3.0 unported license. see http://creativecommons.org/licenses/by/3.0/deed.de
    endregion
-
    // region language
    if (!LANGUAGES)
        LANGUAGES = ['enUS']
    // endregion
    // region runtime
    if (!URL)
        URL = `http://torben.website/${NAME}`
    if (!SOURCE_URL)
        SOURCE_URL = `https://github.com/thaibault/${NAME}`
    START_UP_ANIMATION_NUMBER = 0
    // endregion
html.no-javascript(lang=LANGUAGE || 'en')
    // region head
    head
        // region meta informations
        meta(charset='utf-8')
        meta(
            name='description'
            content=TAGLINE.replace(/^(.+?)<!--.+-->$/, '$1').replace("'", "\\'"))
        meta(name='author' content='Torben Sickert')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta&attributes(META_TAGS || {})
        // endregion
        title #{NAME}
        // region pre load resources
        script(type="text/javascript").
            window.document.documentElement.className =
                window.document.documentElement.className.replace(
                    /(^|\s)no-javascript(\s|$)/, '$1javascript$2');
        // endregion
    // endregion
    // region body
    body(class='documentation')
        .website-window-loading-cover.tools-hidden-on-javascript-disabled: div
        // region header
        .header-wrap.outer: header.inner
            - START_UP_ANIMATION_NUMBER += 1
            a.forkme-banner(
                href=SOURCE_URL
                class=`website-start-up-animation-number-${START_UP_ANIMATION_NUMBER}`
            )
                | View on GitHub
                //deDE:GitHub-Projekt
                //frFR:GitHub-Project
                i.icon-github
            - START_UP_ANIMATION_NUMBER += 1
            h1.project-title(
                class=`website-start-up-animation-number-${START_UP_ANIMATION_NUMBER}`
            ): a(href=URL) #{NAME}
            - START_UP_ANIMATION_NUMBER += 1
            h2.project-tagline(
                class=`website-start-up-animation-number-${START_UP_ANIMATION_NUMBER}`
            )
                != TAGLINE
                br
            section.header-links
                //NOTE: This elements are shown in reverse order.
                numberOfLanguageLinks = 0
                if 1 < LANGUAGES.length
                    - numberOfLanguageLinks = LANGUAGES.length
                    - START_UP_ANIMATION_NUMBER += numberOfLanguageLinks
                if API_DOCUMENTATION_PATH
                    - START_UP_ANIMATION_NUMBER += 4
                else
                    - START_UP_ANIMATION_NUMBER += 2
                if typeof BUNDLE === 'undefined' || BUNDLE === true
                    - START_UP_ANIMATION_NUMBER += 1
                if DISTRIBUTION_BUNDLE_FILE_PATH
                    a.zip-source-download(
                        href=`https://github.com/thaibault/${NAME}/zipball/master`
                        class=`website-start-up-animation-number-${START_UP_ANIMATION_NUMBER}`
                    ) src.zip
                    if typeof BUNDLE === 'undefined' || BUNDLE === true
                        - START_UP_ANIMATION_NUMBER -= 1
                        a.zip-distribution-bundle-download(
                            href=URL + '/' + DISTRIBUTION_BUNDLE_FILE_PATH
                            class=`website-start-up-animation-number-${START_UP_ANIMATION_NUMBER}`
                        ) app.zip
                else
                    - START_UP_ANIMATION_NUMBER += 1
                    a.zip-source-download(
                        href=`https://github.com/thaibault/${NAME}/zipball/master`
                        class=`website-start-up-animation-number-${START_UP_ANIMATION_NUMBER}`
                    ) .zip
                    - START_UP_ANIMATION_NUMBER -= 1
                    a.tar-gz-source-download(
                        href=`https://github.com/thaibault/${NAME}/tarball/master`
                        class=`website-start-up-animation-number-${START_UP_ANIMATION_NUMBER}`
                    ) .tar.gz
                - START_UP_ANIMATION_NUMBER -= 1
                i.icon-download-arrow(
                    class=`website-start-up-animation-number-${START_UP_ANIMATION_NUMBER}`)
                if numberOfLanguageLinks
                    for language in LANGUAGES
                        - START_UP_ANIMATION_NUMBER -= 1
                        a.tools-visible-on-javascript-enabled(
                            href=`#lang-${language}`
                            class=`website-start-up-animation-number-${START_UP_ANIMATION_NUMBER}`
                        ) #{language.slice(0, 2)}
                if API_DOCUMENTATION_PATH
                    - START_UP_ANIMATION_NUMBER -= 1
                    span.glyphicon.glyphicon-arrow-left.arrow-left-api(
                        class=`website-start-up-animation-number-${START_UP_ANIMATION_NUMBER}`)
                    - START_UP_ANIMATION_NUMBER -= 1
                    a.api-link(
                        href=`${URL}${API_DOCUMENTATION_PATH}`
                        class=`website-start-up-animation-number-${START_UP_ANIMATION_NUMBER}`
                    )
                        langreplace
                            | API
                            span
                                = ' '
                                | Documentation
                        //deDE:API<span>-Dokumentation</span>
                        //frFR:<span>Documentation de l'</span>API
                    - START_UP_ANIMATION_NUMBER += 4 + numberOfLanguageLinks
                else
                    - START_UP_ANIMATION_NUMBER += 2 + numberOfLanguageLinks
        // endregion
        // region sections
        .main-content-wrap.outer
            // region main content
            section.main-content.inner
                if (CONTENT_FILE_PATH)
                    // NOTE: Dynamic pug file includes aren't possible yet.
                    != require(CONTENT_FILE_PATH)
                    //- Right indenting with
                        ".replace(/\n/g, '\n                ')"
                        would break nested pre blocks.
                else if (CONTENT)
                    - content = CONTENT
                    if (RENDER_CONTENT)
                        - content = compile(CONTENT)(locals)
                    if (content)
                        != content
                        //- Right indenting with
                            ".replace(/\n/g, '\n                ')"
                            would break nested pre blocks.
            // endregion
            // region about this website
            section.about-this-website.inner
                h2(id='about-this-website')
                    | About this website
                    //deDE:Impressum
                    //frFR:Mentions légales
                p
                    | Provider of
                    //deDE:Anbieter von
                    //frFR:Fournisseur de
                    //- NOTE: JavaScript Templatestrings doesn't work here.
                    = ' '
                    a(href='http://torben.website/' + NAME)
                        | http://torben.website/#{NAME}
                    | :
                    br
                    | Torben Sickert
                    br
                    | Christoph-Mang-Str. 14
                    br
                    | 79100 Freiburg
                    br
                    | Phone:
                    //deDE:Tel.:
                    //frFR:Téléphone:
                    = ' '
                    a(href='tel:004917610248185')
                        | +49 (0) 176
                        span /
                        | 10 248 185
                    br
                    | Email:
                    //deDE:E-Mail:
                    = ' '
                    a(href='mailto:info@torben.website')
                        | info@torben.website
                    br
                    | Website:
                    = ' '
                    //deDE:Webseite:
                    //frFR:Site:
                    = ' '
                    a(href='http://torben.website') http://torben.website
                    br
                    span.glyphicon.glyphicon-arrow-left.arrow-left-home.tools-visible-on-javascript-enabled
                    a.tools-visible-on-javascript-enabled(href='#home')
                        | home
                        //deDE:Startseite
                        //frFR:Maison
                != require('legalNotes').replace(/\n/g, '\n                ')
            // endregion
        // endregion
        // region footer
        .footer-wrap.outer
            footer.inner
                - START_UP_ANIMATION_NUMBER += 1
                p.copyright(
                    class=`website-start-up-animation-number-${START_UP_ANIMATION_NUMBER}`
                )
                    | #{NAME} maintained by
                    | <!--deDE:#{NAME} betrieben von-->
                    | <!--frFR:#{NAME} exploité par-->
                    = ' '
                    a(href='http://torben.website') thaibault
                    = ' '
                    | &middot; &copy; 2013 Torben Sickert &middot;
                    = ' '
                    a(href='#about-this-website')
                        | about this website
                        //deDE:Impressum
                        //frFR:Mentions légales
        // endregion
        a(href='#top')
            | top
            //deDE:nach oben
            //frFR:ascendant
    if configuration.offline
        noscript: iframe(src='manifest.html' style='display: none')
    // endregion
//-
    region vim modline
    vim: set tabstop=4 shiftwidth=4 expandtab:
    vim: foldmethod=marker foldmarker=region,endregion:
    endregion
